<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406030452508-pb66k8rudj8hvf2s244tiesaa8uf09h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406030452508-pb66k8rudj8hvf2s244tiesaa8uf09h2</string>
	<key>API_KEY</key>
	<string>AIzaSyB7Fw5rlRbV5G2A8cW9Nz4VFUp28RJzgxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>406030452508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edisontesla.fcg.instructor</string>
	<key>PROJECT_ID</key>
	<string>mind-balance-app</string>
	<key>STORAGE_BUCKET</key>
	<string>mind-balance-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406030452508:ios:66bb56ccc7752a60765cd9</string>
	<key>DATABASE_URL</key>
	<string>https://mind-balance-app.firebaseio.com</string>
</dict>
</plist>